.idea
.cmake
_deps
build
cmake-build-debug
cmake-build-debug-
CMakeFiles
coverage
Testing
.ninja_deps
.ninja_log
Arial.ttf
build.ninja
cmake_install.cmake
CMakeLists.txt
install_manifest.txt
practice.cpp
practice.exe
.gitignore